<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.devzuz.q.maven.ui.archetypeProvider" name="archetypeExtender" schema="schema/org.devzuz.q.maven.ui.archetypeProvider.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.devzuz.q.maven.ui"
            name="Apache Maven">
      </category>
      <view
            category="org.devzuz.q.maven.ui"
            class="org.devzuz.q.maven.ui.views.MavenEventView"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.ui.views.MavenEventView"
            name="Events">
      </view>
      <view
            category="org.devzuz.q.maven.ui"
            class="org.devzuz.q.maven.ui.views.MavenLifeCycleView"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.ui.views.MavenLifeCycleView"
            name="Life Cycle">
      </view>
      <view
            category="org.devzuz.q.maven.ui"
            class="org.devzuz.q.maven.ui.views.MavenProjectView"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.ui.views.MavenProjectView"
            name="Project">
      </view>
            <view
            category="org.devzuz.q.maven.ui"
            class="org.devzuz.q.maven.ui.views.MavenProfileView"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.ui.views.MavenProfileView"
            name="Profile">
      </view> 
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="org.devzuz.q.maven.ui.project.menu"
             objectClass="org.eclipse.core.resources.IProject">

          <menu
                id="org.devzuz.q.maven.ui.project.submenu"
                label="%mavenMenuTitle"
                path="additions">
             <groupMarker 
                   name="contents">
                   
             </groupMarker>
             <separator
                   name="additions">
             </separator>
          </menu>
          <enablement>
             <test property="org.devzuz.q.maven.ui.hasPOM" value="true" forcePluginActivation="true"/>
          </enablement>
       </objectContribution>
       <objectContribution
               adaptable="true"
             id="org.devzuz.q.maven.ui.project.menumaven"
             objectClass="org.eclipse.core.resources.IProject">
              <filter
               name="projectNature"
               value="org.devzuz.q.maven.jdt.core.mavenNature">
          </filter>
           <action
                 class="org.devzuz.q.maven.ui.actions.MavenPackageAction"
                 enablesFor="1"
                 icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                 id="org.devzuz.q.maven.ui.actions.MavenPackageAction"
                 label="%mavenPackageAction"
                 menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"/>
          <action
                class="org.devzuz.q.maven.ui.actions.MavenInstallAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenInstallAction"
                label="%mavenInstallAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"/>
          <action
                class="org.devzuz.q.maven.ui.actions.MavenDeployAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenDeployAction"
                label="%mavenDeployAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents">
          </action>
          <action
                class="org.devzuz.q.maven.ui.actions.MavenSiteAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenSiteAction"
                label="%mavenSiteAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents">
          </action>
                         
          <action
                class="org.devzuz.q.maven.ui.actions.MavenCustomGoalAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenCustomGoalAction"
                label="%mavenCustomGoalAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"/>
          <action
                class="org.devzuz.q.maven.ui.actions.ManageDependenciesAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.ManageDependenciesAction"
                label="%mavenManageDependenciesAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents">
          </action>
           <action
                 class="org.devzuz.q.maven.ui.actions.MavenToggleRecursiveAction"
                 enablesFor="*"
                 id="org.devzuz.q.maven.ui.actions.MavenToggleRecursiveAction"
                 label="%mavenToggleRecursiveAction"
                 menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"
                 style="toggle"/>
       </objectContribution>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.devzuz.q.maven.ui.properties.MavenProjectPropertyPage"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.ui.properties.MavenProjectPropertyPage"
            name="%MavenPreferencePage">
      </page>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.devzuz.q.maven.ui.preferences.MavenPreferencePage"
            id="org.devzuz.q.maven.ui.preferences.MavenPreferencePage"
            name="%MavenPreferencePage">
      </page>
      <page
            class="org.devzuz.q.maven.ui.preferences.MavenArchetypePreferencePage"
            id="org.devzuz.q.maven.ui.preferences.MavenArchetypePreferencePage"
            name="%MavenArchetypePreferencePage"
            category="org.devzuz.q.maven.ui.preferences.MavenPreferencePage">
      </page>
      <page
            class="org.devzuz.q.maven.ui.preferences.MavenProfilePreferencePage"
            id="org.devzuz.q.maven.ui.preferences.MavenProfilePreferencePage"
            name="%MavenProfilePreferencePage"
            category="org.devzuz.q.maven.ui.preferences.MavenPreferencePage">
      </page>
   </extension>
   <extension
         point="org.devzuz.q.maven.ui.archetypeProvider">
      <provider-type
            class="org.devzuz.q.maven.ui.archetype.provider.impl.WikiArchetypeProvider"
            type="%archetypeProvider.wiki"
            ui-builder="org.devzuz.q.maven.ui.archetype.provider.impl.WikiArchetypeProviderUiBuilder">
      </provider-type>
      <provider-type
            class="org.devzuz.q.maven.ui.archetype.provider.impl.Archetype2CatalogProvider"
            type="%archetypeProvider.archetype2Catalog"
            ui-builder="org.devzuz.q.maven.ui.archetype.provider.impl.Archetype2CatalogProviderUiBuilder">
      </provider-type>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="src/main/resources/ovr16/project.gif"
            id="org.devzuz.q.maven.jdt.core.decorator"
            label="Resource Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <and>
            	<objectState name="nature" value="org.devzuz.q.maven.jdt.core.mavenNature"/>
				<objectClass
                        name="org.eclipse.core.resources.IProject">
                </objectClass>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester id="org.devzuz.q.maven.ui.actions.MavenProjectPropertyTester"
	     type="org.eclipse.core.resources.IProject"
	     namespace="org.devzuz.q.maven.ui"
	     properties="hasPOM"
	     class="org.devzuz.q.maven.ui.propertytester.MavenProjectPropertyTester">
 	  </propertyTester>
   </extension>
     	   
</plugin>
