<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.devzuz.q.maven.ui"
            name="Apache Maven">
      </category>
      <view
            category="org.devzuz.q.maven.ui"
            class="org.devzuz.q.maven.ui.views.MavenEventView"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.ui.views.MavenEventView"
            name="Maven Events">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.devzuz.q.maven.ui"
            name="Apache Maven">
      </category>
      <view
            category="org.devzuz.q.maven.ui"
            class="org.devzuz.q.maven.ui.views.MavenDependencyVisualView"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.ui.views.MavenDependencyVisualView"
            name="Maven Dependency Graph">
      </view>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="org.devzuz.q.maven.ui.project.menu"
             objectClass="org.eclipse.core.resources.IProject">
<!--
          <filter
               name="projectNature"
               value="org.eclipse.jdt.core.javanature">
          </filter>
-->
          <menu
                id="org.devzuz.q.maven.ui.project.submenu"
                label="%mavenMenuTitle"
                path="additions">
             <groupMarker
                   name="contents">
             </groupMarker>
             <separator
                   name="additions">
             </separator>
          </menu>
           <action
                 class="org.devzuz.q.maven.ui.actions.MavenPackageAction"
                 enablesFor="1"
                 icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                 id="org.devzuz.q.maven.ui.actions.MavenPackageAction"
                 label="%mavenPackageAction"
                 menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"/>
          <action
                class="org.devzuz.q.maven.ui.actions.MavenInstallAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenInstallAction"
                label="%mavenInstallAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"/>
          <action
                class="org.devzuz.q.maven.ui.actions.MavenDeployAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenDeployAction"
                label="%mavenDeployAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents">
          </action>
          <action
                class="org.devzuz.q.maven.ui.actions.MavenSiteAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenSiteAction"
                label="%mavenSiteAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents">
          </action>
          
          <action
                class="org.devzuz.q.maven.ui.actions.ViewDependencyGraphAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.uii.actions.ViewDependencyGraphAction"
                label="%mavenViewDependencyGraphAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"/>
                
          <action
                class="org.devzuz.q.maven.ui.actions.MavenCustomGoalAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenCustomGoalAction"
                label="%mavenCustomGoalAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"/>
          <action
                class="org.devzuz.q.maven.ui.actions.ManageDependenciesAction"
                enablesFor="1"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.ManageDependenciesAction"
                label="%mavenManageDependenciesAction"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents">
          </action>    
       </objectContribution>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.devzuz.q.maven.ui.properties.MavenProjectPropertyPage"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.ui.properties.MavenProjectPropertyPage"
            name="%MavenPreferencePage">
      </page>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.devzuz.q.maven.ui.preferences.MavenPreferencePage"
            id="org.devzuz.q.maven.ui.preferences.MavenPreferencePage"
            name="%MavenPreferencePage">
      </page>
      <page
            class="org.devzuz.q.maven.ui.preferences.MavenArchetypePreferencePage"
            id="org.devzuz.q.maven.ui.preferences.MavenArchetypePreferencePage"
            name="%MavenArchetypePreferencePage"
            category="org.devzuz.q.maven.ui.preferences.MavenPreferencePage">
      </page>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.devzuz.q.maven.ui.launchconfiguration.MavenLaunchConfigurationDelegate"
            id="org.devzuz.q.maven.ui.MavenLaunchConfigurationId"
            modes="run,debug"
            name="Maven 2">
      </launchConfigurationType>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            configTypeID="org.devzuz.q.maven.ui.MavenLaunchConfigurationId"
            id="org.devzuz.q.maven.ui.MavenLaunchConfigurationIdImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.devzuz.q.maven.ui.MavenLaunchConfigurationId"
            class="org.devzuz.q.maven.ui.launchconfiguration.MavenLaunchConfigurationTabGroup"
            id="org.devzuz.q.maven.ui.launchconfiguration.MavenLaunchConfigurationTabGroupId">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
