<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "org.apache.maven.pom400.presentation.mavenModelWizardID"
      name = "%_UI_mavenModelWizard_label"
      class = "org.apache.maven.pom400.presentation.mavenModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/mavenModelFile.gif">
      <description>%_UI_mavenModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.apache.maven.pom400.presentation.mavenEditorID"
        name = "%_UI_mavenEditor_label"
        icon = "icons/full/obj16/mavenModelFile.gif"
        extensions = "maven"
        class = "org.apache.maven.pom400.presentation.mavenEditor" 
        contributorClass="org.apache.maven.pom400.presentation.mavenActionBarContributor" >
    </editor>
  </extension>    
</plugin>
