<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.devzuz.q.maven.wizard.archetypeExtender">
      <archetype
            artifact="maven-archetype-quickstart">
         <postprocessor
               class="org.devzuz.q.maven.wizard.test.MavenProjectPostprocessor1"
               config="config-factory.hashmap">
         </postprocessor>
         <postprocessor
               class="org.devzuz.q.maven.wizard.test.MavenProjectPostprocessor1"
               config="config-factoy.list">
         </postprocessor>
         <page
               class="org.devzuz.q.maven.wizard.test.MavenWizardPage1"
               config="config-factory.hashmap">
         </page>
      </archetype>
      <archetype
            artifact="appfuse-basic-jsf"
            group="org.appfuse">
         <postprocessor
               class="org.devzuz.q.maven.wizard.test.MavenProjectPostprocessor1"
               config="config-factory.list">
         </postprocessor>
         <page
               class="org.devzuz.q.maven.wizard.test.MavenWizardPage1"
               config="config-factory.list">
         </page>
         <page
               class="org.devzuz.q.maven.wizard.test.MavenWizardPage1"
               config="config-factory.hashmap">
         </page>
      </archetype>
      <config-factory
            class="org.devzuz.q.maven.wizard.test.MapWizardConfigFactory1"
            id="config-factory.hashmap">
      </config-factory>
      <config-factory
            class="org.devzuz.q.maven.wizard.test.ListWizardConfigFactory"
            id="config-factory.list">
      </config-factory>
   </extension>

</plugin>
