<?xml version="1.0" encoding="UTF-8"?>

<!-- ***************************************************************************
     * Copyright (c) 2007-2008 DevZuz, Inc. (AKA Simula Labs, Inc.)
     * All rights reserved. This program and the accompanying materials
     * are made available under the terms of the Eclipse Public License v1.0
     * which accompanies this distribution, and is available at
     * http://www.eclipse.org/legal/epl-v10.html
     ***************************************************************************-->

<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="org.devzuz.q.maven.ui.project.menu"
             objectClass="org.eclipse.core.resources.IProject">
          
           <action
                class="org.devzuz.q.maven.dependency.analysis.actions.AnalyseDependencyAction"
                enablesFor="1"
                icon="src/main/resources/icons/dependency-view.gif"
                id="org.devzuz.q.maven.dependency.analysis.actions.AnalyseDependencyAction"
                label="Analyse dependencies"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"/>
     </objectContribution>

     </extension>

</plugin>
