<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
          id="mavenClasspathContainerPage"
          name="%mavenClasspathContainerPage.name"
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
          id="org.devzuz.q.maven.jdt.ui.classpath.container.MavenClasspathContainerPage"
          name="%mavenClasspathContainerPage.name"
            class="org.devzuz.q.maven.jdt.ui.classpath.container.MavenClasspathContainerPage">
      </classpathContainerPage>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
        
        <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.devzuz.q.maven.jdt.ui.project.menu">
          <enablement>
             <test property="org.devzuz.q.hasPOM" value="true" forcePluginActivation="true"/>
          </enablement>            
            <visibility>
              <not>
              <objectState
                name="projectNature"
                value="org.devzuz.q.maven.jdt.core.mavenNature"/>
              </not>  
            </visibility>
              <action
               class="org.devzuz.q.maven.jdt.ui.actions.MavenManageDependenciesAction"
               id="org.devzuz.q.maven.jdt.ui.actions.MavenManageDependenciesAction"
               label="%mavenManageDependenciesAction"
               menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"
               state="false"
               style="toggle"/>
        </objectContribution>
        <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.devzuz.q.maven.jdt.ui.project.menu">
            <visibility>
              <objectState
                name="projectNature"
                value="org.devzuz.q.maven.jdt.core.mavenNature"/>
            </visibility>
              <action
               class="org.devzuz.q.maven.jdt.ui.actions.MavenManageDependenciesAction"
               id="org.devzuz.q.maven.jdt.ui.actions.MavenManageDependenciesAction"
               label="%mavenManageDependenciesAction"
               menubarPath="org.devzuz.q.maven.ui.project.submenu/contents"
               state="true"
               style="toggle"/>
      	</objectContribution>
        <objectContribution
             adaptable="true"
             id="org.devzuz.q.maven.jdt.ui.project.menu"
             objectClass="org.eclipse.core.resources.IProject">
           <filter
               name="projectNature"
               value="org.devzuz.q.maven.jdt.core.mavenNature">
          </filter>
          <action
                class="org.devzuz.q.maven.jdt.ui.actions.MavenReloadAction"
                id="org.devzuz.q.maven.jdt.ui.actions.MavenReloadProjects"
                label="%mavenReloadMavenProjects"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents">
          </action>
             <action
                class="org.devzuz.q.maven.jdt.ui.actions.UpdateSourcesAction"
                id="org.devzuz.q.maven.jdt.ui.actions.UpdateSources"
                label="%mavenUpdateSources"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents">
          </action>
          <action
                class="org.devzuz.q.maven.jdt.ui.actions.UpdateSnapshotsAction"
                id="org.devzuz.q.maven.jdt.ui.actions.UpdateSnapshots"
                label="%mavenUpdateSnapshots"
                menubarPath="org.devzuz.q.maven.ui.project.submenu/contents">
          </action>
       </objectContribution>

   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.devzuz.q.maven.jdt.ui.launchconfiguration.MavenLaunchConfigurationDelegate"
            id="org.devzuz.q.maven.jdt.ui.MavenLaunchConfigurationId"
            modes="run,debug"
            name="Maven 2">
      </launchConfigurationType>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            configTypeID="org.devzuz.q.maven.jdt.ui.MavenLaunchConfigurationId"
            id="org.devzuz.q.maven.jdt.ui.MavenLaunchConfigurationIdImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.devzuz.q.maven.jdt.ui.MavenLaunchConfigurationId"
            class="org.devzuz.q.maven.jdt.ui.launchconfiguration.MavenLaunchConfigurationTabGroup"
            id="org.devzuz.q.maven.jdt.ui.launchconfiguration.MavenLaunchConfigurationTabGroupId">
      </launchConfigurationTabGroup>
   </extension>

   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            id="org.devzuz.q.maven.jdt.ui.MavenLaunchConfigurationShortcutId"
            class="org.devzuz.q.maven.jdt.ui.launchconfiguration.MavenLaunchConfigurationShortcut"
            label="Maven 2"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            modes="run">
            <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
            <perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
            <perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
            <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
            <configurationType id="org.devzuz.q.maven.jdt.ui.MavenLaunchConfigurationId"/>\
            <contextualLaunch>
               <enablement>
                  <with variable="selection">
                     <count value="1"/>
                     <iterate>
                              <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.jdt.core.javanature"/>
                              <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.devzuz.q.maven.jdt.core.mavenNature"/>
<!--                            
                        <or>
                           <test property="org.eclipse.jdt.launching.hasMain"/>
                           <and>
                              <test property="org.eclipse.jdt.launching.isContainer"/>
                              <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.jdt.core.javanature"/>
                           </and>
                        </or>
-->
                     </iterate>
                  </with>
               </enablement>
            </contextualLaunch>
      </shortcut>
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.core.resources.IResource" class="">
         <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
      </factory>
   </extension> 
   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.devzuz.q.maven.jdt.ui.properties.MavenProjectPropertyPage"
            id="org.devzuz.q.maven.jdt.ui.properties.mavenProjectPropertyPage"
            name="%mavenJdtPropertiesPage.name"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
            <filter name="nature" value="org.devzuz.q.maven.jdt.core.mavenNature"/>
      </page>
   </extension> 

</plugin>
