<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="org.devzuz.q.maven.ui.project.antConvertMenu"
             nameFilter="build.xml"
             objectClass="org.eclipse.core.resources.IResource">
          <action
                class="org.devzuz.q.maven.conversion.actions.MavenConvertAntAction"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenConvertAntAction"
                label="%mavenConvertAntAction">
          </action>
       </objectContribution>
       <objectContribution
             id="org.devzuz.q.maven.ui.project.maven1ConvertMenu"
             nameFilter="project.xml"
             objectClass="org.eclipse.core.resources.IResource">
          <action
                class="org.devzuz.q.maven.conversion.actions.MavenConvertMaven1Action"
                icon="src/main/resources/icons/Maven_M(16)-TP.gif"
                id="org.devzuz.q.maven.ui.actions.MavenConvertMaven1Action"
                label="%mavenConvertMaven1Action">
          </action>
       </objectContribution>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.devzuz.q.maven.ui.properties.MavenProjectPropertyPage"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.ui.properties.MavenProjectPropertyPage"
            name="%MavenPreferencePage">
      </page>
   </extension>
   -->
</plugin>
