<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.devzuz.q.maven.search.searchProvider" name="Search Provider" schema="schema/org.devzuz.q.maven.search.searchProvider.exsd"/>
   <extension-point 
   		id="org.devzuz.q.maven.search.searchProvider" 
   		name="Artifact Search Provider" 
   		schema="schema/org.devzuz.q.maven.search.searchProvider.exsd"/>

	<extension
	      point="org.devzuz.q.maven.search.searchProvider">
	      <searchProvider class="org.devzuz.q.maven.search.builtin.BuiltinArtifactSearchProvider">
	      </searchProvider>
	</extension>
</plugin>
