<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.devzuz.q.community.ui"
            name="Community"/>
      <view
            category="org.devzuz.q.community.ui"
            class="org.devzuz.q.community.ui.views.CommunityView"
            icon="src/main/resources/icons/sample.gif"
            id="org.devzuz.q.community.ui.views.CommunityView"
            name="Community View"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.devzuz.q.community.ui.perspective.PerspectiveFactory"
            id="org.devzuz.q.community.ui.perspective"
            name="Community"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.devzuz.q.community.ui.editors.CommunityEditor"
            contributorClass="org.devzuz.q.community.ui.editors.CommunityEditorContributor"
            icon="src/main/resources/icons/sample.gif"
            id="org.devzuz.q.community.ui.editors.CommunityEditor"
            name="Community Information"/>
   </extension>

</plugin>
