<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.devzuz.q.maven.pomeditor.formeditor.MavenPomFormEditor"
            contributorClass="org.devzuz.q.maven.pomeditor.formeditor.MavenPomEditorActionBarContributor"
            default="true"
            extensions="xml"
            filenames="pom.xml"
            icon="src/main/resources/icons/Maven_M(16)-TP.gif"
            id="org.devzuz.q.maven.pomeditor.formeditor.MavenPomFormEditor"
            name="Maven 2 Pom Editor">
      </editor>
   </extension>

</plugin>
